body {
    
    text-size-adjust: 25px;

}
button {
    background-color: black;
    color:yellow;
    height: 35px;
    font-family: 'Impact', Haettenschweiler, Arial Narrow Bold, sans-serif;
    font-size: 25px;
    text-align: center;
    
}